///////////////////////////////////////////////////////////////////////////////////////////////////////
//
// This variables file is for font size, color and other variables that are static
//
///////////////////////////////////////////////////////////////////////////////////////////////////////

//colors
$borderColor: #dfdfdf;
$barColor: #343a40;
$blueColor: #33cccc;
$titleColor: #eaeaea;

//border radius
$borderRadius: 5px;

//page
$outerPagePadding: 2rem;
